.TableWrapper{
	display: block;
	overflow-x: auto;
	width: 100%;

	& .Vtext{
		display:flex;
		justify-content:center;
		align-items:center;
		writing-mode: vertical-lr;
		background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
		color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
		border-top: 1px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
		border-left: 1px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
		border-bottom: 1px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
		width: 100%;
		padding: 1.5rem 0;
		box-sizing: border-box;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.9rem;
	}
}
.Table{

	width: 100%;
	border-collapse: collapse;

	& thead{
		background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
		& th{
			color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
			border: 1px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
			padding: .5rem 0.75rem;
			font-weight: bold;
			font-size: 0.9rem;
		}
	}

	& tbody{

		background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));

		& tr:nth-child(even){
			background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
		}

		& tr:nth-child(odd){
			background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
		}

		& td{
			color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
			border: 1px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
			padding: .5rem 0.75rem;
			font-size: 0.85rem;
		}

		& tr{

			&:hover{
				background-color: rgba(0,0,0,0.08);
			}
		}
	}
}
.GridTable{

	width: 100%;
	border-collapse: collapse;

	& thead{

		background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
		& th{
			color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
			border: 1px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
			padding: 0.6rem;
			font-weight: bold;
			font-size: 0.85rem;
		}

		& .GridTableActions{
			width: 6rem;
		}
	}

	& tbody{

		background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));

		& tr:nth-child(even){
			background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
		}

		& tr:nth-child(odd){
			background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
		}

		& td{
			color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
			border: 1px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
			padding: 0.6rem;
			font-size: 0.8rem;
		}

		& tr{

			&:hover{
				background-color: rgba(0,0,0,0.08);
			}
		}
	}
}