.Tabs{
	display: block;
	width: 100%;
	background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
}
.TabsBtns{

	display: flex;
	padding-top: 5px;
	border: 1px solid hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig-soft));
	border-radius: var(--radius) var(--radius) 0 0;
	overflow-x: auto;
    overflow-y: hidden;

	& button{
		appearance: none;
		border: 1px solid transparent;
		border-bottom: 1px solid transparent;
		border-radius: var(--rd) var(--rd) 0 0;
		outline: none !important;
		color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
		background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
		height: var(--field-h);
		font-size: 0.8rem;
		padding: 0 calc(var(--pd) * 2);
		cursor: pointer;

		&:hover{
			color: hsl(var(--background-hue) var(--background-sat) var(--background-lig-soft));
			border-bottom: 1px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
			background-color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig-soft));
		}
	}

	& div:first-child button{
		border-left: 0;
	}

	& .TabsActive{

		border-color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig-soft));

		& button{
			border-color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig-soft));
			transform: translateY(1px);
			border-bottom: 1px solid hsl(var(--background-hue), var(--background-sat), var(--background-lig));
		}
	}
}

.TabsArea{

	position: relative;
	display: block;
	width: 100%;
    background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
	border: 1px solid hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig-soft));
	border-radius: 0 0 var(--radius) var(--radius);
	border-top: none;
	overflow-x: auto;

	& .TabsActive{
		display: block;
		z-index: 1;
	}

	& .TabsInactive{
		display: block;
		position: absolute;
		opacity: 0;
		left: 0px;
		top: 0px;
		height: 1px;
		width: 1px;
		z-index: 0;
		overflow: auto;
		pointer-events: none;
	}

	/* SECOND LEVEL */
	& .TabsBtns{
		border-top: none;
		border-right: none;
		border-left: none;
	}

	/* SECOND LEVEL */
	& .TabsArea{
		border: none;
	}
}