.sk-tabs{
	display: block;
	width: 100%;
	background-color: hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
}
.sk-tabs-btns{
	display: flex;
	padding-left: 1px;
	padding-top: 2px;

	& div{
		border-bottom: 3px solid hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
	}

	& button{
		border: none !important;
		background-color: hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
		color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
		height: var(--field-h);
		font-size: 0.8rem;

		&:hover{
			background-color: hsl(var(--pri-hue) var(--pri-sat) calc(var(--pri-lig) - 3%));
		}
	}

	& .active{
		border-color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));

		& button{
			background-color: hsl(var(--pri-hue) var(--pri-sat) calc(var(--pri-lig) - 6%));
		}
	}
}
.sk-tabs-area{

	position: relative;
	display: block;
	width: 100%;
    background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
	border: 1px solid hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
	border-top: none;

	& .active{
		display: block;
		z-index: 1;
	}

	& .inactive{
		display: block;
		position: absolute;
		opacity: 0;
		left: 0px;
		top: 0px;
		height: 1px;
		width: 1px;
		z-index: 0;
		overflow: auto;
		pointer-events: none;
	}
}