.LoadLockScreen{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	padding: calc(var(--pd) * 3);
	border: none;
	outline: none;
	width: 100vw;
	height: 100vh;
	will-change: transform, opacity;
	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	background-color: hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig)) !important;
	text-align: center;
	font-size: calc(var(--font-size) * 1.25);
	font-weight: bold;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.LoadLockScreenIn{
	animation: AnimationLoadLockScreenIn 250ms forwards ease-in-out;
}

.LoadLockScreenOut{
	animation: AnimationLoadLockScreenOut 150ms forwards ease-in-out;
}

@keyframes AnimationLoadLockScreenIn {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes AnimationLoadLockScreenOut {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}