:root {
	--dark-hue: 20;
	--dark-sat: 6%;
	--dark-lig: 9%;
	--light-hue: 0;
	--light-sat: 0%;
	--light-lig: 98%;
	--pri-hue: 245;
	--pri-sat: 48%;
	--pri-lig: 40%;
	--sec-hue: 202;
	--sec-sat: 61%;
	--sec-lig: 54%;
	--danger-hue: 5;
	--danger-sat: 60%;
	--danger-lig: 41%;
	--foreground-hue: var(--dark-hue);
	--foreground-sat: var(--dark-sat);
	--foreground-lig: var(--dark-lig);
	--background-hue: var(--light-hue);
	--background-sat: var(--light-sat);
	--background-lig: var(--light-lig);
	--font-family: monospace;
}

/* DARK MODE */
.LightMode {
	--foreground-hue: var(--dark-hue);
	--foreground-sat: var(--dark-sat);
	--foreground-lig: var(--dark-lig);
	--background-hue: var(--light-hue);
	--background-sat: var(--light-sat);
	--background-lig: var(--light-lig);
}

/* DARK MODE */
.DarkMode {
	--foreground-hue: var(--light-hue);
	--foreground-sat: var(--light-sat);
	--foreground-lig: var(--light-lig);
	--background-hue: var(--dark-hue);
	--background-sat: var(--dark-sat);
	--background-lig: var(--dark-lig);
}

.DarkMode .header{
	background: linear-gradient(90deg, hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig)), hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig)));
}

*,
*::before,
*::after {
	margin: 0;
}

* {
	scrollbar-width: thin;
	scrollbar-color: hsl(var(--foreground-hue), var(--foreground-sat), 50%) transparent;
}

*::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

*::-webkit-scrollbar-button {
	height: 0;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-track-piece {
	background-color: hsl(var(--foreground-hue), var(--foreground-sat), 20%);
}

*::-webkit-scrollbar-thumb {
	background-color: hsl(var(--foreground-hue), var(--foreground-sat), 50%);
	border: none;
	border-radius: 0;
}

*::-webkit-scrollbar-corner {
	background: transparent;
}

*::-webkit-resizer {
	background: transparent;
}

html {
	font-size: 15px;
	scroll-behavior: smooth;
}

body {
	color: hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig));
	font-family: var(--font-family);
	font-size: 1rem;
	transition: background-color, color 0.18s;
}
pre{
	background-color: hsl(var(--background-hue), var(--background-sat), calc(var(--background-lig) + 2%));
	box-sizing: border-box;
	padding: var(--pd);
	tab-size: 1.5rem;
	font-family: monospace;
	font-size: calc(1rem / 1.2);
	overflow-x: auto;
}
code{
	tab-size: 2em;
	font-size: 0.9rem;
}

a{
	text-decoration: none;
	color: hsl(var(--foreground-hue), var(--foreground-sat), calc(var(--foreground-lig) + 2%));
}
p{
	margin: 0.5rem 0;
	font-size: 1rem;
}
h1{
	margin: 1.75rem 0 1.25rem 0;
	font-size: 1.75rem;
}
h2{
	margin: 1.5rem 0 1rem 0;
	font-size: 1.5rem;
}
hr{
	height: 1px;
	border: none;
	background-color: hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig));
	opacity: 0.1;
	margin: 0;
	padding: 0;
}
.content {
	padding: 2rem;
	box-sizing: border-box;
}

.content .left {
	width: 320px;
}

.content .right {
	padding: 10px 0;
	width: calc(100% - 320px);
	font-size: 15px;
	display: block;
}

.header{
	background: linear-gradient(90deg, hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig)), hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig)));
	display: block;
	width: 100%;
	height: 4rem;
	position: fixed;
	z-index: 9990;
}
.header a{
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 0.9rem;
	color: #FFF;
}

.skit{
	height: 24px;
	display: block;
	filter: brightness(100);
}

.menu{
	border-right: 1px solid rgba(0,0,0,0.1);
	height: calc(100vh - 4rem);
	top: 4rem;
	position: fixed;
	overflow-y: auto;
	width: 220px;
	padding-bottom: 2rem;
}

.menu .title{
	display: block;
	appearance: none;
	padding: 0.75rem 1rem;
	width: 100%;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 1.1rem;
	line-height: 1.1rem;
	text-align: left;
	background: transparent;
	border: none;
	outline: none;
	color: hsl(var(--foreground-hue), var(--foreground-sat), calc(var(--foreground-lig) + 2%));
}

.menu a{
	display: block;
	padding: 0.5rem 1rem 0.5rem 2rem;
	width: 100%;
	box-sizing: border-box;
	font-size: 0.85rem;
	color: hsl(var(--foreground-hue), var(--foreground-sat), calc(var(--foreground-lig) + 2%));
}
.menu a:hover{
	background-color: rgba(0,0,0,0.05);
}
.submenu{
	display: block;
	width: 100%;
	overflow: hidden;
	height: 1px;
}
.active{
	overflow: none;
	height: auto;
}

footer{
	display: block;
	margin: 2rem;
}
footer p{
	font-size: 0.7rem;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-hue: var(--light-hue);
		--foreground-sat: var(--light-sat);
		--foreground-lig: var(--light-lig);
		--background-hue: var(--dark-hue);
		--background-sat: var(--dark-sat);
		--background-lig: var(--dark-lig);
	}
}