.content{
    display: block;
    width: 100%;
    max-width: 1800px;
    padding: 0 20px;
    margin: auto;
}

.margin-fix{

    &:first-child{
        margin-top: 0;
    }

    &:last-child{
        margin-bottom: 0;
    }
}