.field{

	& .Dualrange{
		position: relative;
		display: block;
		height: var(--field-h);
		min-width: 3rem;
		width: inherit;
		touch-action: none;

		&::before{
			content: "";
			width: 100%;
			height: 3px;
			background: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
			z-index: 0;
			position: absolute;
			left: 0;
			top: calc(var(--field-h) / 2);
			transform: translateY(-1px);
			border-radius: var(--rd);
			cursor: inherit;
		}

		& input[type=range]{

			appearance: none;
			left: 0;
			right: 0;
			position: absolute;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
			background: none;
			pointer-events: none;
			outline: none;
			border: none;
			margin: 0;
			padding: 0;
			width: 100%;
			cursor: inherit;

			&::-webkit-slider-runnable-track, 
			&::-webkit-slider-thumb{
				appearance: none;
				background-color: transparent;
			}

			&::-webkit-slider-thumb {
				height: calc(var(--field-h) / 1.5);
				width: calc(var(--field-h) / 1.5);
				@include thumb;
			}
			&::-moz-range-thumb {
				height: calc(var(--field-h) / 1.9);
				width: calc(var(--field-h) / 1.9);
				@include thumb;
			}
		}

		&:hover{
			cursor: pointer;
		}

		&:disabled:hover,
		&:disabled::before{
			cursor: not-allowed;
		}
	}
}

.disabled{

	& .Dualrange{
		opacity: 0.5;
		cursor: not-allowed !important;
		filter: grayscale(0.5);
	}
}