.Card{
	background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: var(--radius);

	& .CardTitle{
		color: hsl(var(--background-hue) var(--background-sat) var(--background-lig-soft));
		font-weight: bold;
		font-size: 16px;
	}
}

.CardBorder{
	border: 1px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
}

/* DARK MODE */
.LightMode {
	& .Card{
		background-color: #FFF;
	}
}