.Info{
	color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
	background-color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	display: block;
	width: 100%;
	padding: var(--pd) calc(var(--pd) * 2);
	border-radius: var(--rd);
	margin: calc(var(--rd) * 2) 0;
	font-size: 0.9rem;
}

.InfoWarning{
	color: hsl(35 var(--danger-sat) var(--danger-lig));
	border: 1px solid hsl(35 var(--danger-sat) var(--danger-lig));
	background-color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
}

.InfoWarningSolid{
	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	background-color: hsl(35 var(--danger-sat) var(--danger-lig));
}

.InfoPri{
	color: hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
	border: 1px solid hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
	background-color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
}
.InfoPriSolid{
	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	background-color: hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
}

.InfoSec{
	color: hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig));
	border: 1px solid hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig));
	background-color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
}
.InfoSecSolid{
	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	background-color: hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig));
}

.InfoDanger{
	color: hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig));
	border: 1px solid hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig));
	background-color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
}

.InfoDangerSolid{
	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	background-color: hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig));
}