.Btn{
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	border: none;
	outline: none;
	color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	background-color: hsl(var(--background-hue) var(--background-sat) calc(var(--background-lig)));
	box-shadow: 0 0 0 1px hsl(var(--background-hue) var(--background-sat) calc(var(--background-lig)));
	border-radius: var(--rd) var(--rd) var(--rd) var(--rd);
	font-size: 0.85rem;
	min-width: 1.1rem;
	width: auto;
	height: var(--field-h);
	line-height: var(--field-h);
	padding: 0 var(--pd);
	vertical-align: middle;
	animation-duration: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;

	&:focus{
		box-shadow: 0 0 0 2px hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig) / 10%);
	}
	&:hover{
		box-shadow: 0 0 0 2px hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig) / 20%);
	}
	&:active{
		box-shadow: 0 0 0 2px hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig) / 30%);
	}
	&:disabled{
		opacity: 0.5;
		cursor: not-allowed;
		box-shadow: none !important;
	}
}

.BtnTiny{
	height: calc((var(--field-h) * 0.7));
	line-height: calc((var(--field-h) * 0.7));
	font-size: calc(var(--font-size) * 0.9);
	padding: 0 calc(var(--pd));
}

.BtnMed{
	height: calc((var(--field-h) * 1.25));
	line-height: calc((var(--field-h) * 1.25));
	font-size: calc(var(--font-size) * 1.15);
	padding: 0 calc(var(--pd) * 2);
}

.BtnLarge{
	height: calc((var(--field-h) * 1.6));
	line-height: calc((var(--field-h) * 1.6));
	font-size: calc(var(--font-size) * 1.4);
	padding: 0 calc(var(--pd) * 2);
}

.BtnPri{

	background-color: hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
	box-shadow: 0 0 0 1px hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));

	&:focus{
		box-shadow: 0 0 0 2px hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig) / 50%);
	}
	&:hover{
		box-shadow: 0 0 0 2px hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig) / 70%);
	}
	&:active{
		box-shadow: 0 0 0 2px hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig) / 90%);
	}
}

.BtnSec{

	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	background-color: hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig));
	box-shadow: 0 0 0 1px hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig));

	&:focus{
		box-shadow: 0 0 0 2px hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig) / 50%);
	}
	&:hover{
		box-shadow: 0 0 0 2px hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig) / 70%);
	}
	&:active{
		box-shadow: 0 0 0 2px hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig) / 90%);
	}
}

.BtnDanger{

	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	background-color: hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig));
	box-shadow: 0 0 0 1px hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig));

	&:focus{
		box-shadow: 0 0 0 2px hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig) / 50%);
	}
	&:hover{
		box-shadow: 0 0 0 2px hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig) / 70%);
	}
	&:active{
		box-shadow: 0 0 0 2px hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig) / 90%);
	}
}

.BtnDark{

	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	background-color: hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig));
	box-shadow: 0 0 0 1px hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig));

	&:focus{
		box-shadow: 0 0 0 2px hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig) / 50%);
	}
	&:hover{
		box-shadow: 0 0 0 2px hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig) / 70%);
	}
	&:active{
		box-shadow: 0 0 0 2px hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig) / 90%);
	}
}

.BtnLight{

	color: hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig));
	background-color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	box-shadow: 0 0 0 1px hsl(var(--light-hue) var(--light-sat) var(--light-lig));

	&:focus{
		box-shadow: 0 0 0 2px hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig) / 10%);
	}
	&:hover{
		box-shadow: 0 0 0 2px hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig) / 20%);
	}
	&:active{
		box-shadow: 0 0 0 2px hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig) / 30%);
	}
}

.BtnTrans{

	color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	background-color: transparent;

	&:focus{
		box-shadow: 0 0 0 2px hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig) / 20%);
	}
	&:hover{
		box-shadow: 0 0 0 2px hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig) / 40%);
	}
	&:active{
		box-shadow: 0 0 0 2px hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig) / 60%);
	}
}

.BtnInv{

	background-color: transparent;
	box-shadow: none;
	color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));

	&:focus{
		box-shadow: none;
		color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	}
	&:hover{
		box-shadow: none;
		color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	}
	&:active{
		box-shadow: none;
		color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	}
}

.BtnJoinLeft{
	border-radius: 0 var(--rd) var(--rd) 0;
}

.BtnJoinRight{
	border-radius: var(--rd) 0 0 var(--rd);
}

.BtnJoin{
	border-radius: 0 0 0 0;
}

.Btn i:before{
	line-height: inherit !important;
}