button{
	all: unset;
}
button, .btn{
	font-weight: 600;
	border: var(--border) solid hsl(var(--background-hue) var(--background-sat) calc(var(--background-lig) + 10%));
	background-color: hsl(var(--background-hue) var(--background-sat) calc(var(--background-lig) + 10%));
	color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	border-radius: var(--rd) var(--rd) var(--rd) var(--rd);
	font-size: 0.9rem;
	min-width: 1.1rem;
	width: auto;
	text-align: center;
	height: var(--field-h);
	padding: 0 var(--pd);
	box-sizing: border-box;
	vertical-align: middle;
	cursor: pointer;

	& i{
		font-style: normal !important;
		font-size: 1.5rem;
	}
}

.btn-med{
	font-size: calc(var(--font-size) * 1.15);
	height: calc((var(--field-h) * 1.25));
	padding: 0 calc(var(--pd) * 2);
}

.btn-pri{
	background-color: hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
	border: var(--border) solid hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	&:hover{
		background-color: hsl(var(--pri-hue) var(--pri-sat) calc(var(--pri-lig) - 2%));
		border-color: hsl(var(--pri-hue) var(--pri-sat) calc(var(--pri-lig) - 2%));
	}
	&:focus{
		background-color: hsl(var(--pri-hue) var(--pri-sat) calc(var(--pri-lig) - 5%));
		border-color: hsl(var(--pri-hue) var(--pri-sat) calc(var(--pri-lig) - 5%));
	}
	&:active{
		background-color: hsl(var(--pri-hue) var(--pri-sat) calc(var(--pri-lig) - 8%));
		border-color: hsl(var(--pri-hue) var(--pri-sat) calc(var(--pri-lig) - 8%));
	}
}

.btn-sec{
	background-color: hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig));
	border: var(--border) solid hsl(var(--sec-hue) var(--sec-sat) var(--sec-lig));
	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	&:hover{
		background-color: hsl(var(--sec-hue) var(--sec-sat) calc(var(--sec-lig) - 2%));
		border-color: hsl(var(--sec-hue) var(--sec-sat) calc(var(--sec-lig) - 2%));
	}
	&:focus{
		background-color: hsl(var(--sec-hue) var(--sec-sat) calc(var(--sec-lig) - 5%));
		border-color: hsl(var(--sec-hue) var(--sec-sat) calc(var(--sec-lig) - 5%));
	}
	&:active{
		background-color: hsl(var(--sec-hue) var(--sec-sat) calc(var(--sec-lig) - 8%));
		border-color: hsl(var(--sec-hue) var(--sec-sat) calc(var(--sec-lig) - 8%));
	}
}

.btn-danger{
	background-color: hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig));
	border: var(--border) solid hsl(var(--danger-hue) var(--danger-sat) var(--danger-lig));
	color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	&:hover{
		background-color: hsl(var(--danger-hue) var(--danger-sat) calc(var(--danger-lig) - 2%));
		border-color: hsl(var(--danger-hue) var(--danger-sat) calc(var(--danger-lig) - 2%));
	}
	&:focus{
		background-color: hsl(var(--danger-hue) var(--danger-sat) calc(var(--danger-lig) - 5%));
		border-color: hsl(var(--danger-hue) var(--danger-sat) calc(var(--danger-lig) - 5%));
	}
	&:active{
		background-color: hsl(var(--danger-hue) var(--danger-sat) calc(var(--danger-lig) - 8%));
		border-color: hsl(var(--danger-hue) var(--danger-sat) calc(var(--danger-lig) - 8%));
	}
}

.btn-trans{
	background-color: transparent;
	border: none;
	color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	&:hover{
		background-color: hsl(var(--background-hue) var(--background-sat) calc(var(--background-lig) - 2%));
		color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	}
	&:focus{
		background-color: hsl(var(--background-hue) var(--background-sat) calc(var(--background-lig) - 5%));
		color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	}
	&:active{
		background-color: hsl(var(--background-hue) var(--background-sat) calc(var(--background-lig) - 8%));
		color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
	}
}