.Modal{
	position: fixed;
	padding: 0;
	box-shadow: 0px 0px 5px 1px hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig) / 10%);
	border: none;
	outline: none;
	min-width: 30rem;
	background-color: hsl(var(--light-hue) var(--light-sat) var(--light-lig));
	border-radius: var(--rd);
	z-index: 11;
	top: 0;
	left: 0;
	max-width: 40rem;

	& .TopBar{

		display: flex;
		border: 1px solid hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig-soft));
		border-radius: var(--rd) var(--rd) 0 0;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;

		& .Move{
			color: hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig));
			line-height: calc(var(--field-h) * 1.25);
			padding-left: 1rem;
			font-size: 0.8rem;
			font-weight: bold;
			flex: 0 0 auto;
			width: calc(100% - calc(var(--field-h) * 1.25));
			cursor: move;
		}

		& .Close{
			height: calc(var(--field-h) * 1.25);
			width: calc(var(--field-h) * 1.25);

			& button{
				appearance: none;
				height: calc(var(--field-h) * 1.25);
				width: 100%;
				border: none;
				outline: none;
				color: hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig));
				background-color: transparent;
				font-size: 1.4rem;
				cursor: pointer;
			}
		}
	}

	& .ModalContent{
		border: 1px solid hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig-soft));
		border-radius: 0 0 var(--rd) var(--rd);
		border-top: 0;
		background-color: hsl(var(--light-hue), var(--light-sat), var(--light-lig));
	}
}