.Modal{
	position: fixed;
	padding: 0;
	box-shadow: 0px 0px 5px 2px hsl(var(--dark-hue) var(--dark-sat) var(--dark-lig) / 5%);
	border: none;
	outline: none;
	min-width: 30rem;
	background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
	border-radius: var(--rd);
	z-index: 11;
	top: 0;
	left: 0;
	max-width: calc(100vw - 1.6rem);

	& .TopBar{

		display: flex;
		border: 2px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
		border-radius: var(--rd) var(--rd) 0 0;
		touch-action: none;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;

		& .Move{
			color: hsl(var(--foreground-hue) var(--foreground-sat) var(--foreground-lig));
			line-height: calc(var(--field-h) * 1.25);
			padding-left: 1rem;
			font-size: 0.8rem;
			font-weight: bold;
			flex: 0 0 auto;
			width: calc(100% - calc(var(--field-h) * 1.25));
			cursor: move;
		}

		& .Close{
			height: calc(var(--field-h) * 1.25);
			width: calc(var(--field-h) * 1.25);

			& button{
				appearance: none;
				height: calc(var(--field-h) * 1.25);
				width: 100%;
				border: none;
				outline: none;
				background-color: transparent;
				background-image: var(--close-x);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: var(--field-h) var(--field-h);
				cursor: pointer;
			}
		}
	}

	& .ModalContent{
		border: 2px solid hsl(var(--foreground-hue), var(--foreground-sat), var(--foreground-lig-soft));
		border-radius: 0 0 var(--rd) var(--rd);
		border-top: 0;
		background-color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
		overflow-y: auto;
		overflow-x: auto;
		max-height: calc(100vh - 7rem);
	}
}