.Flex{
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
}
.FlexVcenter{
	align-items: center;
}
.FlexSpaceBetween{
	justify-content: space-between;
}
.ColFlex{
	flex: 0 0 auto;
	width: 100%;
}
.ColFlexAuto{
	flex: 0 0 auto;
	width: auto;
}
.ColFlex1{
	width: 8.3333%;
}
.ColFlex2{
	width: 16.6666%;
}
.ColFlex3{
	width: 25%;
}
.ColFlex4{
	width: 33.3333%;
}
.ColFlex5{
	width: 41.6666%;
}
.ColFlex6{
	width: 50%;
}
.ColFlex7{
	width: 58.3333%;
}
.ColFlex8{
	width: 66.6666%;
}
.ColFlex9{
	width: 75%;
}
.ColFlex10{
	width: 83.3333%;
}
.ColFlex11{
	width: 91.6666%;
}
.ColFlex12{
	width: 100%;
}

@mixin MixinCalc(){

	$i: 5;
	@while $i <= 1920 {

		.ColFlex#{$i}px {
			width: #{$i}px !important;
		}

		.ColFlexCalc#{$i} {
			width: calc(100% - #{$i}px) !important;
		}

		$i: $i + 5;
	}
}

@mixin MixinMidthP{

	$i: 1;
	$value: 1%;

	@while $i <= 100 {

		.w#{$i}p{ 
			width: $value; 
		}

		$value: $value + 1%;
		$i: $i + 1;
	}

	.w12-5p{
		width: 12.5%;
	}

	.w16-6p{
		width: 16.66667%;
	}

	.w33-3p{
		width: 33.33%;
	}

	.w66-6p{
		width: 66.66%;
	}
}

@mixin MixinWidthPX{

	$i: 1;

	@while $i <= 1000 {

		.w#{$i}{ 
			width: #{$i}px; 
		}
		$i: $i + 1;
	}
}

@mixin MixinMgPd{

	$i: 1;
	@while $i <= 5 {

		.mg#{$i}{ 
			margin: #{$i * 10}px; 
		}

		.mgt#{$i}{ 
			margin-top: #{$i * 10}px; 
		}

		.mgl#{$i}{ 
			margin-left: #{$i * 10}px; 
		}

		.mgr#{$i}{ 
			margin-right: #{$i * 10}px; 
		}

		.mgb#{$i}{ 
			margin-bottom: #{$i * 10}px; 
		}

		.pd#{$i}{ 
			padding: #{$i * 10}px;
			box-sizing: border-box;
		}

		.pdt#{$i}{ 
			padding-top: #{$i * 10}px;
			box-sizing: border-box;
		}

		.pdl#{$i}{ 
			padding-left: #{$i * 10}px;
			box-sizing: border-box;
		}

		.pdr#{$i}{ 
			padding-right: #{$i * 10}px;
			box-sizing: border-box;
		}

		.pdb#{$i}{ 
			padding-bottom: #{$i * 10}px;
			box-sizing: border-box;
		}

		$i: $i + 1;
	}
}

@mixin MixinMaxCh{

	$i: 10;

	@while $i <= 1000 {

		.max#{$i}ch{ 
			max-width: #{$i}ch; 
		}
		$i: $i + 1;
	}
}

@include MixinCalc;
@include MixinMidthP;
@include MixinWidthPX;
@include MixinMgPd;
@include MixinMaxCh;