@import 'vars.scss';
@import 'reset.scss';

/*BUTTONS*/
@import 'button/button.scss';
@import 'card/card.scss';
@import 'confirm/confirm.scss';
@import 'content/content.scss';
@import 'flex/flex.scss';
@import 'info/info.scss';
@import 'form/form.scss';
@import 'grid/grid.scss';
@import 'loadlockscreen/loadlockscreen.scss';
@import 'lockscreen/lockscreen.scss';
@import 'modal/modal.scss';
@import 'pagination/pagination.scss';
@import 'panic/panic.scss';
@import 'stateloading/stateloading.scss';
@import 'table/table.scss';
@import 'tabs/tabs.scss';
@import 'tooltip/tooltip.scss';
@import 'typography/typography.scss';
@import 'warning/warning.scss';


@media all and (max-width: 1023px){
	.NoMob{
		display: none !important;
		position: absolute;
		margin-left: -99999px;
	}
}