*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}
::selection {
    background-color: hsl(var(--pri-hue) var(--pri-sat) var(--pri-lig));
    color: hsl(var(--background-hue) var(--background-sat) var(--background-lig));
}
body{
	background-color: hsl(var(--background-hue), var(--background-sat), calc(var(--background-lig) - 3%));
}

.Img-block{
    display: block;
}

.hidden {
    margin-top: -9999px !important;
    top: 0px;
    left: 0px;
    width: 1px !important;
    height: 1px !important;
    position: absolute !important;
    opacity: 0 !important;
    overflow: auto;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.No-scroll{
    overflow: hidden;
    padding-right: 0.5rem;
}