.Grid{
	display: grid;
	grid-template-columns: repeat(60, 1fr);
	gap: 1.5rem;
}
.GridVcenter{
	align-items: center;
}
.GridValignBottom{
	align-items: end;
}

@mixin MixinColGrid(){

	$i: 1;
	@while $i <= 60 {

		.ColGrid#{$i} {
			grid-column: span #{$i};
		}
		$i: $i + 1;
	}
}

@include MixinColGrid;